* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.box, .myInfo {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
}

.row1, .row2, .likeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row1 {
    justify-content: space-between;
}

.username {
    margin: 10px;
    font-size: 2em;
}

.likeCount {
    margin: 10px;
    font-size: 1.2em;
}

.likeButton {
    margin: 10px;
    border: solid 2px black;
    background-color: blanchedalmond;
    padding: 5px 10px;
    box-shadow: 3px 3px black;
}

.row2 {
    margin: 10px;
    font-size: 1.2em;
}

.myInfo {
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
}

.myInfo {
    width: 200px;
    height: 300px;
}

.myAvatar {
    width: 150px;
    margin: 20px 0 10px 0;
}

.navbar {
    width: 1000px;
    background-color: black;
    display: flex;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 3em;
    margin: 10px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 20px;
}

.box {
    width: 670px;
}

.myInfo a, .myInfo p {
    margin: 10px;
}

.myInfo p {
    font-size: 1.7em;
}